clientews/src/main/resources/wsdl/FirstBuy.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="FirstBuy" targetNamespace="urn://grupoaval.com/ProdsChnsMngt/v1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:v1="urn://grupoaval.com/ProdsChnsMngt/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="urn://grupoaval.com/ProdsChnsMngt/v1/" xmlns:Q1="urn://grupoaval.com/xsd/ifx/" xmlns:Q2="urn://grupoaval.com/xsd/ifx/v2/">
            <xsd:import namespace="urn://grupoaval.com/xsd/ifx/"/>
            <xsd:import namespace="urn://grupoaval.com/xsd/ifx/v2/"/>
      <xsd:element name="AddFirstBuyRs" type="v1:AddFirstBuyRs_Type"/>
      <xsd:complexType name="AddFirstBuyResponse_Type">
    	<xsd:sequence>
    		<xsd:element ref="v1:AddFirstBuyRs"/>
    	</xsd:sequence>
    </xsd:complexType>  
      <xsd:element name="AddFirstBuyRq" type="v1:AddFirstBuyRq_Type"/>
      <xsd:complexType name="AddFirstBuyRequest_Type">
    	<xsd:sequence>
    		<xsd:element ref="v1:AddFirstBuyRq"/>
    	</xsd:sequence>
    </xsd:complexType>
      <xsd:element name="AddFirstBuyResponse" type="v1:AddFirstBuyResponse_Type">
    </xsd:element>
      <xsd:element name="AddFirstBuyRequest" type="v1:AddFirstBuyRequest_Type">
    </xsd:element>
      <xsd:complexType name="AddFirstBuyRs_Type">
    	<xsd:sequence>
    		<xsd:element minOccurs="1" ref="Q1:Status"/>
    		<xsd:element minOccurs="1" ref="Q1:RqUID"/>
    		<xsd:element minOccurs="0" ref="Q1:MsgRqHdr"/>
    		<xsd:element minOccurs="0" ref="Q1:MsgRsHdr"/>
    		<xsd:element minOccurs="0" ref="Q1:CustId"/>
    	</xsd:sequence>
    </xsd:complexType>
      <xsd:complexType name="AddFirstBuyRq_Type">
    	<xsd:sequence>
    		<xsd:element minOccurs="1" ref="Q1:RqUID"/>
    		<xsd:element minOccurs="0" ref="Q1:MsgRqHdr"/>
			<xsd:element minOccurs="0" ref="Q1:CustId"/>
			<xsd:element minOccurs="0" ref="Q2:CardNumber"/>
			<xsd:element minOccurs="0" ref="Q2:CardType"/>
			<xsd:element minOccurs="0" ref="Q1:BillDt"/>
			<xsd:element minOccurs="0" ref="Q2:SPName"/>
			<xsd:element minOccurs="0" ref="Q1:Email"/>
			<xsd:element minOccurs="0" ref="Q2:PhoneNumber"/>
			<xsd:element minOccurs="0" ref="Q1:StatusCard"/>
			<xsd:element minOccurs="0" ref="Q2:FileId"/>
			<xsd:element minOccurs="0" ref="Q2:SecurID"/>
			<xsd:element minOccurs="0" ref="Q1:RefInfo"/>
		</xsd:sequence>
    </xsd:complexType>
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="urn://grupoaval.com/ProdsChnsMngt/v1/">
    	</xsd:import>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn://grupoaval.com/xsd/ifx/" xmlns:aval="urn://grupoaval.com/xsd/ifx/" xmlns:avalv2="urn://grupoaval.com/xsd/ifx/v2/">
      <xsd:import namespace="urn://grupoaval.com/xsd/ifx/v2/"/>
      <xsd:element name="LastName" type="aval:LastName_Type"/>
      <xsd:simpleType name="LastName_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="FileName" type="xsd:string"/>
	  <xsd:element name="Email" type="xsd:string"/>
	  <xsd:element name="StatusCard" type="xsd:string"/>
      <xsd:element name="PrcDt" type="xsd:dateTime"/>
      <xsd:element name="GovIssueIdentType" type="aval:OpenEnum_Type"/>
      <xsd:element name="PartyAcctRelType" type="aval:OpenEnum_Type"/>
      <xsd:element name="NoBillerMainReference" type="xsd:string"/>
      <xsd:element name="ExpDt" type="xsd:string"/>
      <xsd:element name="POSVerifyCapability" type="aval:OpenEnum_Type"/>
      <xsd:element name="AgentType" type="aval:OpenEnum_Type"/>
      <xsd:element name="IdentPrevReadMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="BillSummAmtType" type="aval:OpenEnum_Type"/>
      <xsd:element name="FileId" type="xsd:string"/>
      <xsd:element name="ChkAcceptStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="TotalCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="TaxType" type="xsd:string"/>
      <xsd:element name="OriginatorType" type="xsd:long"/>
      <xsd:element name="PaymentForm" type="aval:OpenEnum_Type"/>
      <xsd:element name="Desc" type="xsd:string"/>
      <xsd:element name="BalType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ViewDtlPref" type="aval:OpenEnum_Type"/>
      <xsd:element name="AdjType" type="aval:OpenEnum_Type"/>
      <xsd:element name="BillDt" type="xsd:dateTime"/>
      <xsd:element name="RevReasonCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="IdentPrevServiceCode" type="xsd:string"/>
      <xsd:element name="POSOperation" type="aval:OpenEnum_Type"/>
      <xsd:element name="TrnSrc" type="aval:OpenEnum_Type"/>
      <xsd:element name="SecurID" type="xsd:string"/>
      <xsd:element name="BillingAcct" type="xsd:string"/>
      <xsd:element name="Phone" type="xsd:string"/>
      <xsd:element name="CurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="CryptType" type="aval:OpenEnum_Type"/>
      <xsd:element name="DeliveryMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="PmtFormat" type="aval:OpenEnum_Type"/>
      <xsd:element name="StmtRunningBal" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="CardVrfyData" type="xsd:string"/>
      <xsd:element name="MaxAmtDue" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="RecXferMod" type="xsd:boolean"/>
      <xsd:element name="InvoicePremium" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="MinCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="FeeType" type="xsd:string"/>
      <xsd:element name="BillType" type="aval:OpenEnum_Type"/>
      <xsd:element name="POSAttended" type="xsd:boolean"/>
      <xsd:element name="TINType" type="aval:OpenEnum_Type"/>
      <xsd:element name="IdentVerifyEntity" type="aval:OpenEnum_Type"/>
      <xsd:element name="OverDraftDays" type="xsd:long"/>
      <xsd:element name="RemitId" type="aval:Identifier_Type"/>
      <xsd:element name="MinAmtDue" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="ServerTerminalSeqId" type="aval:Identifier_Type"/>
      <xsd:element name="LoanName" type="xsd:string"/>
      <xsd:element name="AvailableImage" type="xsd:boolean"/>
      <xsd:element name="Channel" type="xsd:string"/>
      <xsd:element name="StatusOverDraft" type="aval:OpenEnum_Type"/>
      <xsd:element name="NumberOfInstalments" type="xsd:long"/>
      <xsd:element name="ImmediatePmt" type="xsd:boolean"/>
      <xsd:element name="PmtRefId" type="aval:Identifier_Type"/>
      <xsd:element name="SendNotificationDt" type="xsd:dateTime"/>
      <xsd:element name="CentralBankDesc" type="xsd:string"/>
      <xsd:element name="ContentType" type="aval:OpenEnum_Type"/>
      <xsd:element name="POSOutCapabilities" type="aval:OpenEnum_Type"/>
      <xsd:element name="PartyAcctRelDesc" type="xsd:string"/>
      <xsd:element name="CSPRefId" type="aval:Identifier_Type"/>
      <xsd:element name="IdentVerifyMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="IdentVerifyResults" type="aval:OpenEnum_Type"/>
      <xsd:element name="XferStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="LowCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="NumEmployees" type="xsd:long"/>
      <xsd:element name="NextDt" type="xsd:string"/>
      <xsd:element name="DueDt" type="xsd:dateTime"/>
      <xsd:element name="ItemValue" type="xsd:boolean"/>
      <xsd:element name="IdentReadMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="ImageURL" type="aval:URL_Type"/>
      <xsd:element name="PhoneType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ChargeRegulation" type="aval:OpenEnum_Type"/>
      <xsd:element name="ServerStatusDesc" type="xsd:string"/>
      <xsd:element name="RemainRec" type="xsd:boolean"/>
      <xsd:element name="PostingSessionId" type="aval:Identifier_Type"/>
      <xsd:element name="PSSMsgEncryption" type="aval:OpenEnum_Type"/>
      <xsd:element name="StmtSummType" type="aval:OpenEnum_Type"/>
      <xsd:element name="IncSummary" type="xsd:boolean"/>
      <xsd:element name="RecPmtMod" type="xsd:boolean"/>
      <xsd:element name="SelRangePaidDt" type="aval:SelRangeDt_Type"/>
      <xsd:element name="EffDt" type="xsd:dateTime"/>
      <xsd:element name="EstablishDt" type="xsd:dateTime"/>
      <xsd:element name="POSCaptureCapability" type="xsd:boolean"/>
      <xsd:element name="Extensions" type="xsd:long"/>
      <xsd:element name="MaxCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="PSSNetworkType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ChkIssueStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="SelRangeDueDt" type="aval:SelRangeDt_Type"/>
      <xsd:element name="Environment" type="aval:OpenEnum_Type"/>
      <xsd:element name="IdentProgramId" type="aval:Identifier_Type"/>
      <xsd:element name="LoanPmtComplement" type="aval:OpenEnum_Type"/>
      <xsd:element name="AllocateAllowed" type="xsd:boolean"/>
      <xsd:element name="FileRqDt" type="xsd:dateTime"/>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="SPRefId" type="aval:Identifier_Type"/>
      <xsd:element name="BSPCode" type="xsd:string"/>
      <xsd:element name="CurCode" type="xsd:string"/>
      <xsd:element name="LastSettlementDt" type="xsd:dateTime"/>
      <xsd:element name="StatusModBy" type="xsd:string"/>
      <xsd:element name="PSSMsgMAC" type="aval:OpenEnum_Type"/>
      <xsd:element name="AllowsMultipleProducts" type="xsd:boolean"/>
      <xsd:element name="CertCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="NoteDetail" type="xsd:string"/>
      <xsd:element name="AddrType" type="aval:OpenEnum_Type"/>
      <xsd:element name="OwnerInd" type="xsd:boolean"/>
      <xsd:element name="Rate" type="xsd:decimal"/>
      <xsd:element name="ClientCreateDt" type="xsd:dateTime"/>
      <xsd:element name="NotificationType" type="xsd:long"/>
      <xsd:element name="ClientBusinessDt" type="xsd:dateTime"/>
      <xsd:element name="PaidCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="NotifyWilling" type="xsd:boolean"/>
      <xsd:element name="BillPmtStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="Cursor" type="aval:Binary_Type"/>
      <xsd:element name="TerminalType" type="aval:OpenEnum_Type"/>
      <xsd:element name="DepAcctStmtId" type="aval:Identifier_Type"/>
      <xsd:element name="OrigDt" type="xsd:dateTime"/>
      <xsd:element name="SPName" type="aval:Identifier_Type"/>
      <xsd:element name="BranchName" type="xsd:string"/>
      <xsd:element name="IncToken" type="xsd:boolean"/>
      <xsd:element name="OptDocType" type="xsd:string"/>
      <xsd:element name="BillId" type="aval:UUID_Type"/>
      <xsd:element name="CurDt" type="xsd:string"/>
      <xsd:element name="NoteNum" type="xsd:string"/>
      <xsd:element name="ClientTerminalSeqId" type="aval:Identifier_Type"/>
      <xsd:element name="AgentId" type="aval:Identifier_Type"/>
      <xsd:element name="SeqNum" type="xsd:long"/>
      <xsd:element name="CreatedDt" type="xsd:dateTime"/>
      <xsd:element name="KeyAcctId" type="xsd:string"/>
      <xsd:element name="BankId" type="xsd:string"/>
      <xsd:element name="Portfolio" type="xsd:string"/>
      <xsd:element name="RefId" type="aval:Identifier_Type"/>
      <xsd:element name="OwnerPercent" type="xsd:decimal"/>
      <xsd:element name="GovOrg" type="aval:OpenEnum_Type"/>
      <xsd:element name="NoteType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ServiceCode" type="xsd:string"/>
      <xsd:element name="CreateRefId" type="aval:Identifier_Type"/>
      <xsd:element name="OrigCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="PrimaryAcct" type="xsd:boolean"/>
      <xsd:element name="BillSummAmtId" type="aval:Identifier_Type"/>
      <xsd:element name="AcctType" type="aval:OpenEnum_Type"/>
      <xsd:element name="SettlementMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="MatchedRec" type="xsd:long"/>
      <xsd:element name="PmtAuthCount" type="xsd:long"/>
      <xsd:element name="PSSCATSecLevel" type="aval:OpenEnum_Type"/>
      <xsd:element name="LoanPmtType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ChkBkType" type="aval:OpenEnum_Type"/>
      <xsd:element name="SentRec" type="xsd:long"/>
      <xsd:element name="FileStatus" type="aval:OpenEnum_Type"/>
      <xsd:element name="CentralBankId" type="xsd:string"/>
      <xsd:element name="ClosedDt" type="xsd:dateTime"/>
      <xsd:element name="IPAddr" type="xsd:string"/>
      <xsd:element name="NotifyReqd" type="xsd:boolean"/>
      <xsd:element name="PhoneNumber" type="xsd:string"/>
      <xsd:element name="Count" type="xsd:long"/>
      <xsd:element name="HistRetentionDays" type="xsd:long"/>
      <xsd:element name="POSLocation" type="aval:OpenEnum_Type"/>
      <xsd:element name="ApprovalId" type="xsd:string"/>
      <xsd:element name="HighCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="CityId" type="xsd:string"/>
      <xsd:element name="CustLoginId" type="xsd:string"/>
      <xsd:element name="Org" type="xsd:string"/>
      <xsd:element name="BillStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="RecXferId" type="aval:Identifier_Type"/>
      <xsd:element name="PrefetchURL" type="aval:URL_Type"/>
      <xsd:element name="POSEntryCapability" type="aval:OpenEnum_Type"/>
      <xsd:element name="PaidDt" type="xsd:dateTime"/>
      <xsd:element name="NotificationId" type="xsd:long"/>
      <xsd:element name="DeliveryMessage" type="xsd:boolean"/>
      <xsd:element name="CompositeCurAmtType" type="aval:OpenEnum_Type"/>
      <xsd:element name="PendExpDays" type="xsd:long"/>
      <xsd:element name="SpecialHandling" type="aval:OpenEnum_Type"/>
      <xsd:element name="XferId" type="aval:Identifier_Type"/>
      <xsd:element name="OpenDt" type="xsd:dateTime"/>
      <xsd:element name="ChkImgFront" type="aval:Binary_Type"/>
      <xsd:element name="SessKey" type="xsd:string"/>
      <xsd:element name="Active" type="xsd:boolean"/>
      <xsd:element name="ChkImgBack" type="aval:Binary_Type"/>
      <xsd:element name="LastTrnDt" type="xsd:dateTime"/>
      <xsd:element name="IsInvGen" type="xsd:boolean"/>
      <xsd:element name="DaysToEPost" type="xsd:long"/>
      <xsd:element name="AcctPayAcct" type="aval:Identifier_Type"/>
      <xsd:element name="ContactType" type="aval:OpenEnum_Type"/>
      <xsd:element name="Aging" type="aval:OpenEnum_Type"/>
      <xsd:element name="CorrectAction" type="aval:OpenEnum_Type"/>
      <xsd:element name="IncDetail" type="xsd:boolean"/>
      <xsd:element name="MaxRec" type="xsd:long"/>
      <xsd:element name="CustPermId" type="xsd:string"/>
      <xsd:element name="PmtAgreementId" type="xsd:string"/>
      <xsd:element name="ExtBalType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ServerStatusCode" type="xsd:string"/>
      <xsd:element name="IncCounts" type="xsd:boolean"/>
      <xsd:element name="OrgIdNum" type="aval:Identifier_Type"/>
      <xsd:element name="PartyAcctRelId" type="xsd:string"/>
      <xsd:element name="FileType" type="aval:OpenEnum_Type"/>
      <xsd:element name="Token" type="aval:Identifier_Type"/>
      <xsd:element name="BankIdType" type="aval:OpenEnum_Type"/>
      <xsd:element name="IdentServiceCode" type="xsd:string"/>
      <xsd:element name="OptOrgIdNum" type="aval:Identifier_Type"/>
      <xsd:element name="IncHistory" type="xsd:boolean"/>
      <xsd:element name="OrgDt" type="xsd:dateTime"/>
      <xsd:element name="FileDesc" type="xsd:string"/>
      <xsd:element name="ForExDealId" type="aval:Identifier_Type"/>
      <xsd:element name="PmtMethod" type="xsd:string"/>
      <xsd:element name="RecId" type="xsd:long"/>
      <xsd:element name="BranchId" type="xsd:string"/>
      <xsd:element name="MainDocType" type="xsd:string"/>
      <xsd:element name="CurConvertRule" type="aval:OpenEnum_Type"/>
      <xsd:element name="TaxId" type="xsd:string"/>
      <xsd:element name="CurRate" type="xsd:decimal"/>
      <xsd:element name="CloseDt" type="xsd:dateTime"/>
      <xsd:element name="TrnType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ClientDt" type="xsd:string"/>
      <xsd:element name="BinLength" type="xsd:long"/>
      <xsd:element name="SvcId" type="aval:Identifier_Type"/>
      <xsd:element name="Category" type="xsd:string"/>
      <xsd:element name="SecObjId" type="aval:Identifier_Type"/>
      <xsd:element name="DaysCall" type="xsd:long"/>
      <xsd:element name="IdentType" type="aval:OpenEnum_Type"/>
      <xsd:element name="IssDt" type="xsd:string"/>
      <xsd:element name="RqUID" type="aval:UUID_Type"/>
      <xsd:element name="PostedDt" type="xsd:dateTime"/>
      <xsd:element name="StatusDesc" type="xsd:string"/>
      <xsd:element name="AcctId" type="xsd:string"/>
      <xsd:element name="LiquidationMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="BankAcctStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="PmtAuthId" type="aval:Identifier_Type"/>
      <xsd:element name="EndDt" type="xsd:string"/>
      <xsd:element name="AvailDt" type="xsd:dateTime"/>
      <xsd:element name="Amt" type="xsd:decimal"/>
      <xsd:element name="OrigIssueDt" type="xsd:dateTime"/>
      <xsd:element name="BSPName" type="xsd:string"/>
      <xsd:element name="Version" type="xsd:string"/>
      <xsd:element name="StartDt" type="xsd:string"/>
      <xsd:element name="PrenoteReqd" type="xsd:boolean"/>
      <xsd:element name="NetworkOwner" type="aval:OpenEnum_Type"/>
      <xsd:element name="OrgPhone" type="xsd:string"/>
      <xsd:element name="Message" type="xsd:string"/>
      <xsd:element name="Brand" type="aval:OpenEnum_Type"/>
      <xsd:element name="StatusCode" type="xsd:long"/>
      <xsd:element name="TransactionNumber" type="xsd:long"/>
      <xsd:element name="ChkBkId" type="xsd:string"/>
      <xsd:element name="ChkNum" type="xsd:string"/>
      <xsd:element name="IdentConditions" type="aval:OpenEnum_Type"/>
      <xsd:element name="ImmediateXfer" type="xsd:boolean"/>
      <xsd:element name="BillSummAmtCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="UUID" type="aval:UUID_Type"/>
      <xsd:simpleType name="UUID_Type">
		<xsd:restriction base="xsd:string">
			<xsd:annotation>
				<xsd:documentation>UUID elements are Narrow Character with a maximum length of 36.</xsd:documentation>
			</xsd:annotation>
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="OpenEnum" type="aval:OpenEnum_Type"/>
      <xsd:simpleType name="OpenEnum_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="CurrencyAmount" type="aval:CurrencyAmount_Type"/>
      <xsd:complexType name="CurrencyAmount_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" ref="aval:Amt"/>
			<xsd:element minOccurs="0" ref="aval:CurCode"/>
			<xsd:sequence minOccurs="0">
				<xsd:element minOccurs="0" ref="aval:CurRate"/>
				<xsd:element minOccurs="0" ref="aval:CurConvertRule"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:simpleType name="Identifier_Type">
		<xsd:annotation>
			<xsd:documentation>
				Object identifiers in the IFX Specification are of the
				data type "Identifier." This is a Narrow Character data
				type with a maximum length of 200.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="Identifier" type="aval:Identifier_Type"/>
      <xsd:element name="URL" type="aval:URL_Type"/>
      <xsd:simpleType name="URL_Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="Binary" type="aval:Binary_Type"/>
      <xsd:complexType name="Binary_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:ContentType"/>
			<xsd:element ref="aval:BinLength"/>
			<xsd:element ref="aval:BinData"/>
			<xsd:element minOccurs="0" ref="aval:CryptType"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:simpleType name="BinData_Type">
		<xsd:restriction base="xsd:base64Binary"/>
	</xsd:simpleType>
      <xsd:element name="BinData" type="aval:BinData_Type"/>
      <xsd:element name="SelRangeDt" type="aval:SelRangeDt_Type"/>
      <xsd:complexType name="SelRangeDt_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:StartDt"/>
			<xsd:element minOccurs="0" ref="aval:EndDt"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="ClientApp" type="aval:ClientApp_Type"/>
      <xsd:complexType name="ClientApp_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:Org"/>
			<xsd:element minOccurs="0" ref="aval:Name"/>
			<xsd:element minOccurs="0" ref="aval:Version"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="RefInfo" type="aval:RefInfo_Type"/>
      <xsd:complexType name="RefInfo_Type">
		<xsd:sequence>
			<xsd:element ref="aval:RefType"/>
			<xsd:element ref="aval:RefId"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:simpleType name="RefType_Type">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
      <xsd:element name="RefType" type="aval:RefType_Type"/>
      <xsd:element name="Addr" type="aval:Addr_Type"/>
      <xsd:simpleType name="Addr_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:complexType name="AdditionalStatus_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:StatusCode"/>
			<xsd:element minOccurs="0" ref="aval:ServerStatusCode"/>
			<xsd:element minOccurs="0" ref="aval:Severity"/>
			<xsd:element minOccurs="0" ref="aval:StatusDesc"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="AdditionalStatus" type="aval:AdditionalStatus_Type"/>
      <xsd:element name="Severity" type="aval:Severity_Type"/>
      <xsd:simpleType name="Severity_Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Error"/>
			<xsd:enumeration value="Info"/>
			<xsd:enumeration value="Warn"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="PINInfo" type="aval:PINInfo_Type"/>
      <xsd:element name="SvcRq" type="aval:SvcRq_Type"/>
      <xsd:complexType name="SvcRq_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" ref="aval:RqUID"/>
			<xsd:element minOccurs="0" ref="aval:MsgRqHdr"/>
			<xsd:element minOccurs="0" ref="aval:CustId"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:complexType name="PINInfo_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" ref="aval:PIN"/>
			<xsd:element minOccurs="1" ref="aval:State"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="State" type="xsd:string"/>
      <xsd:element name="PIN" type="xsd:string"/>
      <xsd:complexType name="MsgRqHdr_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:ClientApp"/>
			<xsd:element minOccurs="0" ref="avalv2:Channel"/>
			<xsd:element minOccurs="0" ref="aval:BankInfo"/>
			<xsd:element minOccurs="0" ref="avalv2:ClientDt"/>
			<xsd:element minOccurs="0" ref="avalv2:IPAddr"/>
			<xsd:element minOccurs="0" ref="avalv2:SessKey"/>
			<xsd:element minOccurs="0" ref="aval:UserId"/>
			<xsd:element minOccurs="0" ref="avalv2:KeyAcctId"/>
			<xsd:element minOccurs="0" ref="avalv2:Reverse"/>
			<xsd:element minOccurs="0" ref="avalv2:Language"/>
			<xsd:element minOccurs="0" ref="avalv2:NextDay"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="MsgRqHdr" type="aval:MsgRqHdr_Type"/>
      <xsd:complexType name="BankInfo_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:BankIdType"/>
			<xsd:element ref="aval:BankId"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="aval:RefInfo"/>
			<xsd:element minOccurs="0" ref="aval:Name"/>
			<xsd:element minOccurs="0" ref="aval:BranchId"/>
			<xsd:element minOccurs="0" ref="aval:BranchName"/>			
			<xsd:element minOccurs="0" ref="aval:City"/>
			<xsd:element minOccurs="0" ref="aval:StateProv"/>
			<xsd:element minOccurs="0" ref="aval:PostalCode"/>
			<xsd:element minOccurs="0" ref="aval:Country"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="BankInfo" type="aval:BankInfo_Type"/>
      <xsd:complexType name="PostAddr_Type">
		<xsd:sequence>
			<xsd:element maxOccurs="4" minOccurs="0" ref="aval:Addr"/>
			<xsd:element minOccurs="0" ref="aval:CityId"/>
			<xsd:element minOccurs="0" ref="aval:City"/>
			<xsd:element minOccurs="0" ref="aval:StateProv"/>
			<xsd:element minOccurs="0" ref="aval:PostalCode"/>
			<xsd:element minOccurs="0" ref="aval:Country"/>
			<xsd:element minOccurs="0" ref="aval:AddrType"/>
			<xsd:element minOccurs="0" ref="aval:StartDt"/>
			<xsd:element minOccurs="0" ref="aval:EndDt"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="PostAddr" type="aval:PostAddr_Type"/>
      <xsd:simpleType name="City_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="City" type="aval:City_Type"/>
      <xsd:simpleType name="StateProv_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="StateProv" type="aval:StateProv_Type"/>
      <xsd:element name="PostalCode" type="aval:PostalCode_Type"/>
      <xsd:simpleType name="PostalCode_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:simpleType name="Country_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="Country" type="aval:Country_Type"/>
      <xsd:element name="UserId" type="aval:UserId_Type"/>
      <xsd:complexType name="UserId_Type">
		<xsd:complexContent>
			<xsd:extension base="aval:CustId_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
      <xsd:element name="CustId" type="aval:CustId_Type"/>
      <xsd:complexType name="CustId_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:CustPermId"/>
			<xsd:element minOccurs="0" ref="aval:CustLoginId"/>
			<xsd:element minOccurs="0" ref="aval:GovIssueIdent"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:CustName"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="CustName" type="aval:CustName_Type"/>
      <xsd:complexType name="CustName_Type">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:LastName"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:FirstName"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:Nickname"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:LegalName"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="Nickname" type="aval:Nickname_Type"/>
      <xsd:simpleType name="Nickname_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="FirstName" type="aval:FirstName_Type"/>
      <xsd:simpleType name="FirstName_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="LegalName" type="aval:LegalName_Type"/>
      <xsd:simpleType name="LegalName_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:complexType name="GovIssueIdent_Type">
		<xsd:sequence>
			<xsd:element ref="aval:GovIssueIdentType"/>
			<xsd:element ref="aval:IdentSerialNum"/>
			<xsd:element minOccurs="0" ref="aval:GovOrg"/>
			<xsd:element minOccurs="0" ref="aval:GovOrgName"/>
			<xsd:element minOccurs="0" ref="aval:GovRank"/>
			<xsd:element minOccurs="0" ref="aval:StateProv"/>
			<xsd:element minOccurs="0" ref="aval:Country"/>
			<xsd:element minOccurs="0" ref="aval:Desc"/>
			<xsd:element minOccurs="0" ref="aval:IssDt"/>
			<xsd:element minOccurs="0" ref="aval:ExpDt"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="GovIssueIdent" type="aval:GovIssueIdent_Type"/>
      <xsd:simpleType name="GovOrgName_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="GovOrgName" type="aval:GovOrgName_Type"/>
      <xsd:simpleType name="GovRank_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="GovRank" type="aval:GovRank_Type"/>
      <xsd:element name="DateTime" type="aval:DateTime_Type"/>
      <xsd:simpleType name="DateTime_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{6})?((-|\+)[0-9]{2}:[0-9]{2})?)?)?"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:simpleType name="IdentSerialNum_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="IdentSerialNum" type="aval:IdentSerialNum_Type"/>
      <xsd:complexType name="GenericAcctId_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:AcctId"/>
			<xsd:element minOccurs="1" ref="aval:AcctType"/>
			<xsd:element minOccurs="0" ref="aval:BankInfo"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:AcctCur"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="AcctCur" type="aval:AcctCur_Type"/>
      <xsd:simpleType name="AcctCur_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="TxCostAmt" type="aval:TxCostAmt_Type"/>
      <xsd:complexType name="TxCostAmt_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" ref="aval:CurAmt"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="Status" type="aval:Status_Type"/>
      <xsd:complexType name="Status_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" ref="aval:StatusCode"/>
			<xsd:element minOccurs="0" ref="aval:ServerStatusCode"/>
			<xsd:element minOccurs="0" ref="aval:Severity"/>
			<xsd:element minOccurs="0" ref="aval:StatusDesc"/>
			<xsd:element minOccurs="0" ref="aval:ServerStatusDesc"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="aval:AdditionalStatus"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:complexType name="MsgRsHdr_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:TxCostAmt"/>
			<xsd:element minOccurs="0" ref="aval:EffDt"/>
			<xsd:element minOccurs="0" ref="aval:RemainRec"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="MsgRsHdr" type="aval:MsgRsHdr_Type"/>
    </xsd:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn://grupoaval.com/xsd/ifx/v2/" xmlns:aval="urn://grupoaval.com/xsd/ifx/">
      <xsd:import namespace="urn://grupoaval.com/xsd/ifx/"/>
      <xsd:element name="EntityName" type="xsd:string"/>
      <xsd:element name="Version" type="xsd:string"/>
      <xsd:element name="CustType" type="aval:OpenEnum_Type"/>
      <xsd:element name="PayeeNotification" type="xsd:string"/>
      <xsd:element name="POSCaptureCapability" type="xsd:boolean"/>
      <xsd:element name="AcctCountable" type="xsd:boolean"/>
      <xsd:element name="ServerStatusCode" type="xsd:string"/>
      <xsd:element name="BankSerial" type="xsd:string"/>
      <xsd:element name="Nickname" type="xsd:string"/>
      <xsd:element name="ApprovalId" type="xsd:string"/>
      <xsd:element name="Code" type="xsd:string"/>
      <xsd:element name="PendExpDays" type="xsd:long"/>
      <xsd:element name="BillPmtStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="PrcDt" type="xsd:dateTime"/>
      <xsd:element name="PeriodType" type="aval:OpenEnum_Type"/>
      <xsd:element name="OptOrgIdNum" type="aval:Identifier_Type"/>
      <xsd:element name="RemittanceCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="CityId" type="xsd:string"/>
      <xsd:element name="BankIdType" type="aval:OpenEnum_Type"/>
      <xsd:element name="BranchName" type="xsd:string"/>
      <xsd:element name="ChkBkType" type="aval:OpenEnum_Type"/>
      <xsd:element name="BSPName" type="xsd:string"/>
      <xsd:element name="SelRangeDueDt" type="aval:SelRangeDt_Type"/>
      <xsd:element name="DaysCall" type="xsd:long"/>
      <xsd:element name="SentRec" type="xsd:long"/>
      <xsd:element name="Count" type="xsd:long"/>
      <xsd:element name="BillSummAmtType" type="aval:OpenEnum_Type"/>
      <xsd:element name="TaxId" type="xsd:string"/>
      <xsd:element name="MinCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="AcctPayAcct" type="aval:Identifier_Type"/>
      <xsd:element name="ActionType" type="aval:OpenEnum_Type"/>
      <xsd:element name="BillStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="CreatedDt" type="xsd:dateTime"/>
      <xsd:element name="IdentPrevServiceCode" type="xsd:string"/>
      <xsd:element name="AgentId" type="aval:Identifier_Type"/>
      <xsd:element name="TINType" type="aval:OpenEnum_Type"/>
      <xsd:element name="CheckRout" type="xsd:string"/>
      <xsd:element name="FeeType" type="xsd:string"/>
      <xsd:element name="StatusDesc" type="xsd:string"/>
      <xsd:element name="ClientTerminalSeqId" type="aval:Identifier_Type"/>
      <xsd:element name="BankShortCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="StateProvName" type="xsd:string"/>
      <xsd:element name="BillType" type="aval:OpenEnum_Type"/>
      <xsd:element name="FieldLabel" type="xsd:string"/>
      <xsd:element name="Memo" type="xsd:string"/>
      <xsd:element name="LoanPmtComplement" type="aval:OpenEnum_Type"/>
      <xsd:element name="MediaNum" type="aval:Identifier_Type"/>
      <xsd:element name="Token" type="aval:Identifier_Type"/>
      <xsd:element name="PointAcctCount" type="xsd:long"/>
      <xsd:element name="IdentVerifyResults" type="aval:OpenEnum_Type"/>
      <xsd:element name="FileId" type="xsd:string"/>
      <xsd:element name="RejectedRows" type="xsd:decimal"/>
      <xsd:element name="OverDraftDays" type="xsd:long"/>
      <xsd:element name="ChkAcceptStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="DeliveryMessage" type="xsd:boolean"/>
      <xsd:element name="PSSMsgEncryption" type="aval:OpenEnum_Type"/>
      <xsd:element name="IsInvGen" type="xsd:boolean"/>
      <xsd:element name="BalType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ConfirmDouble" type="xsd:boolean"/>
      <xsd:element name="PmtCodServ" type="xsd:string"/>
      <xsd:element name="OrgPhone" type="xsd:string"/>
      <xsd:element name="TaxCode" type="xsd:string"/>
      <xsd:element name="GroupCode" type="xsd:string"/>
      <xsd:element name="MainDocType" type="xsd:string"/>
      <xsd:element name="Org" type="xsd:string"/>
      <xsd:element name="FileKey" type="xsd:string"/>
      <xsd:element name="TrnStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="IdentVerifyEntity" type="aval:OpenEnum_Type"/>
      <xsd:element name="NoteDetail" type="xsd:string"/>
      <xsd:element name="BankAcctStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="TrnSrc" type="aval:OpenEnum_Type"/>
      <xsd:element name="OptPmtCodServ" type="xsd:string"/>
      <xsd:element name="IdentVerifyMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="CurCode" type="xsd:string"/>
      <xsd:element name="PartyAcctRelId" type="xsd:string"/>
      <xsd:element name="SecObjId" type="aval:Identifier_Type"/>
      <xsd:element name="PaidCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="IncToken" type="xsd:boolean"/>
      <xsd:element name="Category" type="xsd:string"/>
      <xsd:element name="NoteNum" type="xsd:string"/>
      <xsd:element name="CardType" type="xsd:string"/>
      <xsd:element name="PayeeType" type="aval:OpenEnum_Type"/>
      <xsd:element name="SpecialHandling" type="aval:OpenEnum_Type"/>
      <xsd:element name="TotalCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="AvailDt" type="xsd:dateTime"/>
      <xsd:element name="PhoneType" type="aval:OpenEnum_Type"/>
      <xsd:element name="CampainId" type="xsd:string"/>
      <xsd:element name="SPRefId" type="aval:Identifier_Type"/>
      <xsd:element name="IssDt" type="xsd:dateTime"/>
      <xsd:element name="CustPermId" type="xsd:string"/>
      <xsd:element name="VertPosit" type="xsd:string"/>
      <xsd:element name="Portfolio" type="xsd:string"/>
      <xsd:element name="POSVerifyCapability" type="aval:OpenEnum_Type"/>
      <xsd:element name="FileType" type="aval:OpenEnum_Type"/>
      <xsd:element name="PointAcctSum" type="xsd:long"/>
      <xsd:element name="CorrectAction" type="aval:OpenEnum_Type"/>
      <xsd:element name="LastSettlementDt" type="xsd:dateTime"/>
      <xsd:element name="SeqNum" type="xsd:long"/>
      <xsd:element name="Language" type="xsd:string"/>
      <xsd:element name="StatusModBy" type="xsd:string"/>
      <xsd:element name="DeliveryDays" type="xsd:long"/>
      <xsd:element name="PaymentForm" type="aval:OpenEnum_Type"/>
      <xsd:element name="CustLoginId" type="xsd:string"/>
      <xsd:element name="MatchedRec" type="xsd:long"/>
      <xsd:element name="CentralBankDesc" type="xsd:string"/>
      <xsd:element name="CurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="TaxYear" type="xsd:long"/>
      <xsd:element name="OwnerPercent" type="xsd:decimal"/>
      <xsd:element name="ImageURL" type="aval:URL_Type"/>
      <xsd:element name="SelRangePaidDt" type="aval:SelRangeDt_Type"/>
      <xsd:element name="AlertStatus" type="xsd:string"/>
      <xsd:element name="LiquidationMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="TerminalType" type="aval:OpenEnum_Type"/>
      <xsd:element name="Extensions" type="xsd:long"/>
      <xsd:element name="FileControlId" type="xsd:string"/>
      <xsd:element name="XferId" type="aval:Identifier_Type"/>
      <xsd:element name="Rate" type="xsd:decimal"/>
      <xsd:element name="AcctType" type="aval:OpenEnum_Type"/>
      <xsd:element name="AdjType" type="aval:OpenEnum_Type"/>
      <xsd:element name="LoanAuthType" type="aval:OpenEnum_Type"/>
      <xsd:element name="Active" type="xsd:boolean"/>
      <xsd:element name="DepAcctStmtId" type="aval:Identifier_Type"/>
      <xsd:element name="PrimaryAcct" type="xsd:boolean"/>
      <xsd:element name="RecPmtMod" type="xsd:boolean"/>
      <xsd:element name="DaysCycle" type="xsd:long"/>
      <xsd:element name="NetworkOwner" type="aval:OpenEnum_Type"/>
      <xsd:element name="CryptType" type="aval:OpenEnum_Type"/>
      <xsd:element name="DaysToEPost" type="xsd:long"/>
      <xsd:element name="NotificationStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="PmtAgreementId" type="xsd:string"/>
      <xsd:element name="EffDt" type="xsd:dateTime"/>
      <xsd:element name="CompositeCurAmtType" type="aval:OpenEnum_Type"/>
      <xsd:element name="PhoneNumber" type="xsd:string"/>
      <xsd:element name="LastTrnDt" type="xsd:dateTime"/>
      <xsd:element name="Message" type="xsd:string"/>
      <xsd:element name="SecurityCode" type="aval:Identifier_Type"/>
      <xsd:element name="DeliveryLocationType" type="aval:OpenEnum_Type"/>
      <xsd:element name="RemainRec" type="xsd:boolean"/>
      <xsd:element name="ServerTerminalSeqId" type="aval:Identifier_Type"/>
      <xsd:element name="DueDt" type="xsd:dateTime"/>
      <xsd:element name="LoanId" type="xsd:string"/>
      <xsd:element name="DeliveryMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="IdentProgramId" type="aval:Identifier_Type"/>
      <xsd:element name="IntRate" type="xsd:decimal"/>
      <xsd:element name="CertCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="AvailableImage" type="xsd:boolean"/>
      <xsd:element name="Pswd" type="xsd:string"/>
      <xsd:element name="MediaType" type="aval:OpenEnum_Type"/>
      <xsd:element name="FieldValue" type="xsd:string"/>
      <xsd:element name="NoteType" type="aval:OpenEnum_Type"/>
      <xsd:element name="TrnNumber" type="xsd:long"/>
      <xsd:element name="RevReasonCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="Pin" type="xsd:string"/>
      <xsd:element name="HighCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="ImmediateXfer" type="xsd:boolean"/>
      <xsd:element name="CurDt" type="xsd:dateTime"/>
      <xsd:element name="AgentType" type="aval:OpenEnum_Type"/>
      <xsd:element name="RecXferMod" type="xsd:boolean"/>
      <xsd:element name="TransactionNumber" type="xsd:long"/>
      <xsd:element name="RecXferId" type="aval:Identifier_Type"/>
      <xsd:element name="Brand" type="aval:OpenEnum_Type"/>
      <xsd:element name="PSSMsgMAC" type="aval:OpenEnum_Type"/>
      <xsd:element name="BranchId" type="xsd:string"/>
      <xsd:element name="PostedDt" type="xsd:dateTime"/>
      <xsd:element name="GovOrg" type="aval:OpenEnum_Type"/>
      <xsd:element name="NotifyWilling" type="xsd:boolean"/>
      <xsd:element name="SumForm" type="xsd:string"/>
      <xsd:element name="ClientDt" type="xsd:string"/>
      <xsd:element name="TrnType" type="aval:OpenEnum_Type"/>
      <xsd:element name="OriginatorType" type="xsd:long"/>
      <xsd:element name="CloseDt" type="xsd:dateTime"/>
      <xsd:element name="Entpr" type="xsd:string"/>
      <xsd:element name="LoanName" type="xsd:string"/>
      <xsd:element name="TotalRows" type="xsd:long"/>
      <xsd:element name="PmtAuthId" type="aval:Identifier_Type"/>
      <xsd:element name="XferStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="BillId" type="aval:UUID_Type"/>
      <xsd:element name="ExpDt" type="xsd:dateTime"/>
      <xsd:element name="SessKey" type="xsd:string"/>
      <xsd:element name="KeyAcctId" type="xsd:string"/>
      <xsd:element name="SettlementMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="IncCounts" type="xsd:boolean"/>
      <xsd:element name="InvoicePremium" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="IncDetail" type="xsd:boolean"/>
      <xsd:element name="PmtRefId" type="aval:Identifier_Type"/>
      <xsd:element name="ClientCreateDt" type="xsd:dateTime"/>
      <xsd:element name="Desc" type="xsd:string"/>
      <xsd:element name="NextDt" type="xsd:dateTime"/>
      <xsd:element name="MinAmtDue" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="PmtType" type="aval:OpenEnum_Type"/>
      <xsd:element name="ChkImgBack" type="aval:Binary_Type"/>
      <xsd:element name="FieldFormat" type="xsd:string"/>
      <xsd:element name="Length" type="xsd:string"/>
      <xsd:element name="FileHash" type="xsd:string"/>
      <xsd:element name="IdentReadMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="LoanStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="TerminalId" type="xsd:string"/>
      <xsd:element name="NumEmployees" type="xsd:long"/>
      <xsd:element name="AddrType" type="aval:OpenEnum_Type"/>
      <xsd:element name="CSPRefId" type="aval:Identifier_Type"/>
      <xsd:element name="Channel" type="xsd:string"/>
      <xsd:element name="FileDesc" type="xsd:string"/>
      <xsd:element name="EndDt" type="xsd:dateTime"/>
      <xsd:element name="NotificationId" type="xsd:long"/>
      <xsd:element name="Editable" type="xsd:boolean"/>
      <xsd:element name="ForExDealId" type="aval:Identifier_Type"/>
      <xsd:element name="PmtDateServ" type="xsd:dateTime"/>
      <xsd:element name="CardBrand" type="xsd:string"/>
      <xsd:element name="ValueStart" type="xsd:string"/>
      <xsd:element name="OrgDt" type="xsd:dateTime"/>
      <xsd:element name="IPAddr" type="xsd:string"/>
      <xsd:element name="ItemValue" type="xsd:boolean"/>
      <xsd:element name="StmtSummType" type="aval:OpenEnum_Type"/>
      <xsd:element name="POSOperation" type="aval:OpenEnum_Type"/>
      <xsd:element name="Environment" type="aval:OpenEnum_Type"/>
      <xsd:element name="InquireStatus" type="xsd:string"/>
      <xsd:element name="HorizPosit" type="xsd:string"/>
      <xsd:element name="IncHistory" type="xsd:boolean"/>
      <xsd:element name="PaidDt" type="xsd:dateTime"/>
      <xsd:element name="ContactType" type="aval:OpenEnum_Type"/>
      <xsd:element name="Phone" type="xsd:string"/>
      <xsd:element name="IdentPrevReadMethod" type="aval:OpenEnum_Type"/>
      <xsd:element name="OwnerInd" type="xsd:boolean"/>
      <xsd:element name="SvcId" type="aval:Identifier_Type"/>
      <xsd:element name="OpenDt" type="xsd:dateTime"/>
      <xsd:element name="NotificationType" type="xsd:long"/>
      <xsd:element name="ChkImgFront" type="aval:Binary_Type"/>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="BillerType" type="xsd:string"/>
      <xsd:element name="PrefetchURL" type="aval:URL_Type"/>
      <xsd:element name="PartyAcctRelType" type="aval:OpenEnum_Type"/>
      <xsd:element name="Address" type="xsd:string"/>
      <xsd:element name="LowCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="ChkIssueStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="VoucherId" type="xsd:string"/>
      <xsd:element name="EntityCode" type="aval:Identifier_Type"/>
      <xsd:element name="SecObjStatusCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="IdentConditions" type="aval:OpenEnum_Type"/>
      <xsd:element name="EstablishDt" type="xsd:dateTime"/>
      <xsd:element name="SPName" type="aval:Identifier_Type"/>
      <xsd:element name="RowStatusDesc" type="xsd:string"/>
      <xsd:element name="CausalType" type="aval:OpenEnum_Type"/>
      <xsd:element name="RqUID" type="aval:UUID_Type"/>
      <xsd:element name="BSPCode" type="xsd:string"/>
      <xsd:element name="ServerStatusDesc" type="xsd:string"/>
      <xsd:element name="POSLocation" type="aval:OpenEnum_Type"/>
      <xsd:element name="ClosedDt" type="xsd:dateTime"/>
      <xsd:element name="IdentType" type="aval:OpenEnum_Type"/>
      <xsd:element name="PartyAcctRelDesc" type="xsd:string"/>
      <xsd:element name="OptDocType" type="xsd:string"/>
      <xsd:element name="MaxCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="NoBillerEntityCode" type="xsd:string"/>
      <xsd:element name="PostingSessionId" type="aval:Identifier_Type"/>
      <xsd:element name="IdentServiceCode" type="xsd:string"/>
      <xsd:element name="AllocateAllowed" type="xsd:boolean"/>
      <xsd:element name="AcctId" type="xsd:string"/>
      <xsd:element name="ChargeRegulation" type="aval:OpenEnum_Type"/>
      <xsd:element name="BankId" type="xsd:string"/>
      <xsd:element name="Required" type="xsd:boolean"/>
      <xsd:element name="HelpMsg" type="xsd:string"/>
      <xsd:element name="POSOutCapabilities" type="aval:OpenEnum_Type"/>
      <xsd:element name="POSEntryCapability" type="aval:OpenEnum_Type"/>
      <xsd:element name="MaxRec" type="xsd:long"/>
      <xsd:element name="ContentType" type="aval:OpenEnum_Type"/>
      <xsd:element name="OptServiceCode" type="xsd:string"/>
      <xsd:element name="PeriodCode" type="xsd:string"/>
      <xsd:element name="CausalDesc" type="xsd:string"/>
      <xsd:element name="EntprId" type="xsd:string"/>
      <xsd:element name="InProcessRows" type="xsd:decimal"/>
      <xsd:element name="PointAcctInstal" type="xsd:long"/>
      <xsd:element name="StartSecObjId" type="aval:Identifier_Type"/>
      <xsd:element name="CurRate" type="xsd:decimal"/>
      <xsd:element name="RemitId" type="aval:Identifier_Type"/>
      <xsd:element name="CategCode" type="xsd:string"/>
      <xsd:element name="ValueMin" type="xsd:string"/>
      <xsd:element name="PmtMethod" type="xsd:string"/>
      <xsd:element name="PayeeControl" type="xsd:boolean"/>
      <xsd:element name="TaxType" type="xsd:string"/>
      <xsd:element name="PmtAuthCount" type="xsd:long"/>
      <xsd:element name="AllowsMultipleProducts" type="xsd:boolean"/>
      <xsd:element name="RefId" type="aval:Identifier_Type"/>
      <xsd:element name="Cursor" type="aval:Binary_Type"/>
      <xsd:element name="ValueMax" type="xsd:string"/>
      <xsd:element name="CardNumber" type="xsd:string"/>
      <xsd:element name="RegistrationId" type="aval:Identifier_Type"/>
      <xsd:element name="Format" type="xsd:string"/>
      <xsd:element name="ChkNum" type="xsd:string"/>
      <xsd:element name="SendNotificationDt" type="xsd:dateTime"/>
      <xsd:element name="ExtBalType" type="aval:OpenEnum_Type"/>
      <xsd:element name="PmtEntityServ" type="xsd:string"/>
      <xsd:element name="NoBillerMainReference" type="xsd:string"/>
      <xsd:element name="BillingAcct" type="xsd:string"/>
      <xsd:element name="PSSNetworkType" type="aval:OpenEnum_Type"/>
      <xsd:element name="CentralBankId" type="xsd:string"/>
      <xsd:element name="StmtRunningBal" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="RowStatus" type="aval:OpenEnum_Type"/>
      <xsd:element name="InvoiceNum" type="xsd:string"/>
      <xsd:element name="PrenoteReqd" type="xsd:boolean"/>
      <xsd:element name="CardVrfyData" type="xsd:string"/>
      <xsd:element name="SecurID" type="xsd:string"/>
      <xsd:element name="POSAttended" type="xsd:boolean"/>
      <xsd:element name="NumberOfInstalments" type="xsd:long"/>
      <xsd:element name="Amt" type="xsd:decimal"/>
      <xsd:element name="BillSummAmtId" type="aval:Identifier_Type"/>
      <xsd:element name="FileRqDt" type="xsd:dateTime"/>
      <xsd:element name="NextDay" type="xsd:string"/>
      <xsd:element name="OrigDt" type="xsd:dateTime"/>
      <xsd:element name="BillDt" type="xsd:dateTime"/>
      <xsd:element name="IncSummary" type="xsd:boolean"/>
      <xsd:element name="ViewDtlPref" type="aval:OpenEnum_Type"/>
      <xsd:element name="PmtFormat" type="aval:OpenEnum_Type"/>
      <xsd:element name="ImmediatePmt" type="xsd:boolean"/>
      <xsd:element name="ChkBkId" type="xsd:string"/>
      <xsd:element name="Reference" type="xsd:string"/>
      <xsd:element name="OrigCurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="LoanPmtType" type="aval:OpenEnum_Type"/>
      <xsd:element name="StatusOverDraft" type="aval:OpenEnum_Type"/>
      <xsd:element name="RowId" type="xsd:string"/>
      <xsd:element name="CausalId" type="xsd:string"/>
      <xsd:element name="PmtCodNIE" type="xsd:string"/>
      <xsd:element name="BillSummAmtCode" type="aval:OpenEnum_Type"/>
      <xsd:element name="ClientBusinessDt" type="xsd:dateTime"/>
      <xsd:element name="BinLength" type="xsd:long"/>
      <xsd:element name="FileName" type="xsd:string"/>
      <xsd:element name="MaxAmtDue" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="OrigIssueDt" type="xsd:dateTime"/>
      <xsd:element name="UF_IndicLine" type="xsd:string"/>
      <xsd:element name="Reverse" type="xsd:boolean"/>
      <xsd:element name="TaxName" type="xsd:string"/>
      <xsd:element name="GovIssueIdentType" type="aval:OpenEnum_Type"/>
      <xsd:element name="PSSCATSecLevel" type="aval:OpenEnum_Type"/>
      <xsd:element name="TypeField" type="xsd:string"/>
      <xsd:element name="DaysBefAft" type="xsd:long"/>
      <xsd:element name="CityName" type="xsd:string"/>
      <xsd:element name="StatusCode" type="xsd:long"/>
      <xsd:element name="PropertyId" type="xsd:string"/>
      <xsd:element name="EndSecObjId" type="aval:Identifier_Type"/>
      <xsd:element name="NotifyReqd" type="xsd:boolean"/>
      <xsd:element name="CurConvertRule" type="aval:OpenEnum_Type"/>
      <xsd:element name="ServiceCode" type="xsd:string"/>
      <xsd:element name="NotificationDt" type="xsd:dateTime"/>
      <xsd:element name="Aging" type="aval:OpenEnum_Type"/>
      <xsd:element name="StartDt" type="xsd:dateTime"/>
      <xsd:element name="HistRetentionDays" type="xsd:long"/>
      <xsd:element name="RecId" type="xsd:long"/>
      <xsd:element name="NIE" type="xsd:string"/>
      <xsd:element name="OrgIdNum" type="aval:Identifier_Type"/>
      <xsd:element name="CreateRefId" type="aval:Identifier_Type"/>
      <xsd:element name="FileStatus" type="aval:OpenEnum_Type"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddFirstBuyRequest">
  	<wsdl:part element="v1:AddFirstBuyRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddFirstBuyResponse">
  	<wsdl:part element="v1:AddFirstBuyResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="FirstBuy">
    <wsdl:operation name="AddFirstBuy">
    	<wsdl:input message="v1:AddFirstBuyRequest"/>
    	<wsdl:output message="v1:AddFirstBuyResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FirstBuySOAP" type="v1:FirstBuy">

  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  
  	<wsdl:operation name="AddFirstBuy">

  		<soap:operation soapAction="urn://grupoaval.com/ProdsChnsMngt/v1/AddFirstBuy"/>
  		<wsdl:input>

  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>  	
  </wsdl:binding>
  <wsdl:service name="FirstBuy">
    <wsdl:port binding="v1:FirstBuySOAP" name="FirstBuySOAP">
      <soap:address location="https://datapower.servint.desa:55563/ProdsChnsMngt/SSL/FirstBuy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>